@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

*{box-sizing: border-box;}

.hero__main{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.hero__title{
    margin-bottom: 3rem;
}
.hero__title span{
    font-weight:600;
}
.hero__paragraph{
margin-bottom: 2.5rem;
}
.hero__text{
    width: 35%;
}
.hero__list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 60px;
}

.hero__list_item{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.hero__list_item img{
    margin-right: 0.8em;
    width: 30px;
}

.button__solid{
    background-color:#3343EA ;
    padding: 15px 30px;
    border-radius: 30px;
} 
.button__solid span{
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

