@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

*{box-sizing: border-box;}
.hero__main{
    display: flex;
    align-content: center;
    align-items: center;
}

.hero__title span{
    font-weight:600;
}

.hero__list{
    list-style: none;
    padding-left: 0;
}

.hero__list_item{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.hero__list_item img{
    margin-right: 0.8em;
    width: 30px;
}

/* .login__cta{

} */