@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
}

*{box-sizing: border-box;}

/* navbar css */
.header__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 14px;
}
.nav__link{
    text-decoration: none;
    color: black;
}
.header__login{
    padding: 20px 40px;
    
}
.nav__btt1{
    text-decoration: none;
    color: #3343EA;
    background-color: #ffffff;
    border-radius: 30px;
    margin: 15px;
    padding: 10px 25px;
    border:2px solid #3343EA;
}
.nav__btt2{
    text-decoration: none;
    color: #ffffff;
    background-color: #3343EA;
    border-radius: 30px;
    margin: 15px;
    padding: 10px 25px;
    border: 2px solid #3343EA;
    
}

.nav__btt2:hover{
    color: #ffffff; 
}

/* navbar bootstrap css */
.navbar {
display: flex;
align-items: center;
}
@media only screen and (max-width:768px){
    .navbar{
        box-shadow: rgb(226, 226, 226) 0px 5px 10px 3px;
    }
    }
.nav-link{
    display: flex;
    align-items: center;
    color: black !important;
}

.header__img{
    margin:5px 30px;
}
.navbar-nav{
    padding: 0px;
    font-size: 16px;
}

.container-fluid{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between !important;
}

.navbar-collapse{
    flex-grow: 0  !important;
    font-size: 17px;
    color: black;
}

/* otro */
.hero__main{
  /*   display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between; */
    background-image: url(/assets/hero_background-.png);
    min-height: 100vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px 40px;
    display: flex;
    align-items: center;
}

/* CSS ABOUT */
.main__about{
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__text{
    width: 55%;
    margin-bottom: 2rem;
}
.about__paragraph{
    margin-bottom: 5.5rem;
    margin-right: 3rem;
}
.about__title span{
    margin-bottom: 3rem;
    color: #3343EA;
}
.about__title{
    margin-bottom: 3rem;
    font-weight: 600;
    
}
/* CSS ABOUT ENDS*/

.product__title{
    margin: 30px 0px;
    padding: 60px 0px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}
.product__title h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.product__title span{
    color: #3343EA;
}
.product__text{
    margin-bottom: 3rem;
    font-weight: 600;
    color: #3343EA;
}
.product2__text{
    margin-bottom: 3rem;
    padding-right: 11rem;
    font-weight: 600;
    color: #3343EA;
}
.product__paragraph{
    margin-bottom: 5.5rem;
    margin-right: 13rem;
}
.product2__paragraph{
    margin-bottom: 2.5rem;
    margin-right: 8rem;
}
.product__box{
    width: 55%;
    margin-bottom: -5rem;
}
.product2__box{
    width: 55%;
    margin-bottom: 2.5rem;
    margin-left: 5rem;
}
.product__button{
    background-color:#3343EA ;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
}

/*CARDS BENNEFITS CSS*/
.card__content{
    display: flex;
    margin: 0px 10%;
    padding: 40px 0px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.article__class{
    background-color: solid #ffffff;
    width: 30%;
    height: 480px;
    border-radius: 20px;
    box-shadow: rgb(187, 187, 187) 0px 5px 10px 3px;
}

.card__title{
font-weight: 600;
font-size: 25px;
padding-bottom: 25px;

}
.card__img{
width: 85%;
padding: 40px 50px;
display: block;
margin: auto;

}
.card__text{
    padding: 30px 25px;
    text-align: center;
}

@media only screen and (max-width:768px){
    .hero__main{
          background-image:none;
          }
    }

.hero__title{
    margin-bottom: 3rem;
}
.hero__title span{
    font-weight:600;
}
.hero__paragraph{
margin-bottom: 2.5rem;
margin-right: 3rem;
}
.hero__text{
    width: 100%;
    margin-bottom: 150px;
}
@media only screen and (min-width:769px){
    .hero__text{
        width: 35%;
    }
}
.hero__list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 60px;
}

.hero__list_item{
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

.hero__list_item img{
    margin-right: 0.8em;
    width: 30px;
}

.button__solid{
    background-color:#3343EA ;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
} 
.button__solid span{
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

.about__img{
    size: 500px;
}

.mobile-button-register{
    display: block;
    text-decoration: none;
    color: #3343EA;
    padding: 0.5rem 1rem;
}

.mobile-button-login{
    display: block;
    text-decoration: none;
    color: #3343EA;
    padding: 0.5rem 1rem;
}
.margin{
    margin:20px;
}

@media screen and (min-width: 500px) and (max-width: 800px) { }


@media only screen and (min-width:769px){
    .hidden-desktop{
        display:none !important;
    }
    .hidden-tablet{
        display:none !important;
    }
}

@media only screen and (max-width:768px){
    .hidden-tablet{
        display:none !important;
    }
}

/* @media only screen and (max-width:768px){
    .hidden-mobile-tablet{
        display:none !important;
    }
}
 */
@media only screen and (max-width:768px){
    .hidden-mobile{
        display:none !important;
    }}